@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F61010;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('/fonts/gascogne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perandory';
  src: url('/fonts/perandory.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  @apply font-Perandory;
  font-weight: 0;
}

p {
  @apply font-Inter;
}
